@charset "utf-8";
/* CSS Document */

.box input#translateButton{
margin-top: 10px;
  width: 500px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 12pt;
  float: left;
  color: #63717f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.box input#translateButton:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}

body{
  background: #343d46;
}
 
.box{
  margin: 100px auto;
  width: 500px;
  height: 50px;
}

.container-1{
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 500px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 12pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
} 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
} 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
} 
.container-1 input#search:-ms-input-placeholder {
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}



/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
.box input[type=radio] {
    display:none;
    margin:10px;
}

.box input[type=radio] + label {
	margin-top: 10px;
    display:inline-block;

    padding: 12px;
    background-color: #2B303B;
    border-color: #ddd;
	color: #63717f;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.box input[type=radio]:checked + label {
   background-image: none;
    background-color:#ffffff;
}
